.categories-section {
    margin-top: 0;
    padding: 20px;
    background-color: #141414; /* רקע כהה */
  }
  
  .category-block {
    margin-bottom: 30px;
  }
  
  .category-title {
    font-size: 1.8em;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  .movies-list {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* מאפשר גלילה אופקית */
    padding: 10px 0;
  }
  
  .movie-item {
    list-style: none;
    padding: 0;
    border: none; /* מסיר גבול */
    background-color: #222;
    color: white;
    border-radius: 5px;
    flex: 0 0 auto; /* לאפשר גלילה ולא מתיחה */
    min-width: 200px;
    height: 100px;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease;
}
  
  .movie-item:hover {
    transform: scale(1.05);
    background-color: #333;
  }

  .movie-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box; /* לכלול את הגבולות וה-padding בחישוב הגודל */
    border: none; /* הסרת הגבולות */
}

.movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-sizing: border-box; /* לכלול את ה-padding בחישוב הגודל */
}

.movie-container:hover {
    transform: scale(1.05); /* להגדיל מעט בעת ריחוף */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* הצללה */
}

.movie-title-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7); /* רקע כהה למחצה */
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box; /* לכלול padding בחישוב גודל האלמנט */
}
  