.video-section {
    position: relative;
    height: 90vh; 
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh; 
    object-fit: cover;
    z-index: -1;
  }

  .mute-button {
    position: absolute;
    bottom: 120px; 
    left: 20px; 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; 
  }
  
  .mute-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
  }
  
  .mute-icon {
    width: 30px;
    height: 30px;
  }

  .categories-container { 
    padding: 20px ;
    margin: 0;
  }

  
body.dark-mode .categories-container {
  background-color: #000;
}


body.light-mode .categories-container { 
  background-color: #013A63;
}

  .category-row {
    margin-bottom: 0; 
    padding: 0; 
    max-height: 200px; 
    overflow: hidden; 
}

  .video-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll; 
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    overflow: hidden;
  }
  
  .categories {
    padding: 20px 0;
    background-color: black;
  }
  
  .category {
    margin-bottom: 30px;
    padding: 0 20px;
  }
  
  .category-title {
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-card {
    display: inline-block;
    margin: 5px;
    width: 150px;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .movies-row {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding-bottom: 10px;
    padding: 0;
  }
  
  .movie {
    flex: 0 0 auto;
    width: 150px;
    height: 225px;
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .movie-title {
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .categories-section {
    position: relative;
    z-index: 1;
  }

  .play-button {
    position: absolute;
    bottom: 100px; 
    right: 20px; 
    background-color: transparent;  
    border: 2px solid #e50914;  
    color: #e50914;  
    border-radius: 50%; 
    width: 80px;  
    height: 80px;  
    font-size: 18px;  
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease; 
    padding: 10px; 
  }
  
  .play-button:hover {
    background-color: #e50914;  
    color: white;  
    transform: scale(1.1);  
  }
  
  .play-button:active {
    transform: scale(0.95);  
  }