.sign-in-button {
    background-color: red;
    color: white;
    padding:  15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    position: absolute; /* Absolute positioning */
    top: 40px; /* Positioned from the top */
    right: 40px; /* Positioned from the right */
    text-decoration: none;
  }
  .sign-in-button:hover {
    background-color: darkred;
  }