.block-in {
  width: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  top: 35%;
  transform: translateY(-70%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
  
.home-page-background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  text-align: center;
  padding: 40px 20px;
}

.home-page-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../AdminPage/netflix-like_background.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
}
 /* Input Fields */
.input {
    background-color: transparent;
    padding: 15px;
    width: 100%; /* Take full width of the parent container */
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 1em;
  }
  
  .input-file-label {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  .input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Semi-transparent white for placeholder */
  }
  
  .input:focus {
    outline: none;
    border-color: red; /* Red border when focused */
    box-shadow: 0 0 5px red; /* Red glow */
    background-color: transparent;
    color: white;
  }
  .btn-danger {
  background-color: red; /* Red background */
  border: none; /* No border */
  color: white; /* White text */
  cursor: pointer;
}

.btn-danger:hover {
  background-color: darkred; /* Darker red on hover */
}